body {
  background-color:#FFE6E6;
   text-align:center;
}

h1 {
  color: #AD88C6
}

.div {
  text-align: center;
}

table{
  width:100%;
  text-size-adjust: 8px;

}
.button{
  background-color: #b7e7e7;
  border: black;
  color: #7469B6;
  padding: 20px 35px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(202, 200, 98);
}
label{
  text-align: left;
}